/*header*/
header{
  width:100%; 
  height: auto; 
  position:fixed; 
  z-index: 99; 
  background:cornflowerblue; 
  padding:25px 0; 
  box-sizing: border-box;
}





/*Cartier-main*/

#cartier-main{
  background: url('img/main_bg.jpg') center center no-repeat;
  background-size: cover;
}

.textUp{
  opacity: 0;
  visibility: hidden;
}

.textUp p{
  font-family: 'Merriweather', serif;
}
.cartier-main-text{
  position:absolute;
  bottom:200px;
  left:100px;
  letter-spacing:-0.01rem
}

.text-tit{
  font-size:3rem;
  font-weight: 400;
  font-style: italic;
}

.text-ex{
  font-size:1rem;
  line-height: 2rem;
}


/*Cartier-video*/
.cartier-video{
  position:relative;
}

.cartier-video span{
  display: inline-block;
  width:100%;
  height: 1px;
  background: #000;
  position:absolute;
  top:50vh;
}

.cartier-video video{
  z-index: 2;
}



/*Cartier Product*/

.cartier-product{
  padding:50px 0;
  box-sizing: border-box;
 
}


.cartier-product-text{
  text-align: center;
  padding:100px 0;
}


.cartier-product-img{
  position:relative;
  height: 1800px;
  padding:100px 0;
  box-sizing: border-box;
}


.box{
  position:absolute;

}

.box1{
  width:500px;
  height: 650px;
  background: brown;
  left:0;
}
.box2{
  width:500px;
  height: 650px;
  background:burlywood;
  right: 0;
  top:200px;
}

.box3{
  width:500px;
  height: 650px;
  background: brown;
  bottom:0;
}
.box4{
  width:500px;
  height: 650px;
  background:burlywood;
  bottom:0;
  right: 0;
}









/*Cartier-gallery*/

.cartier-gallery-tit{
  width:100%;
  height: 1500px;
  text-align: center;
  padding:50px 0;
  box-sizing: border-box;
}
.cartier-gallery-tit p{
  padding:50px 0;
  box-sizing: border-box;
  font-size:5rem;
}

.cartier-gallery {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.gallery-contents:not(.last) {
  padding-bottom: 1rem;
}

.gallery-text p {
  font-size: 10rem;
  line-height: 1;
  font-weight: 800;
  padding:30px 0;
  font-family: 'Montserrat', sans-serif;
}

.gallery-text .text > p{
  -webkit-text-stroke:3px #000;
  -o-text-stroke:3px #000;
  -ms-text-stroke:3px #000;
  color:transparent;
  font-style: italic;
}


/*Cartier Name*/
.cartier-name p{
  font-family: 'Italianno', cursive;
  font-size: 8rem;
}



/*Footer*/
footer{
  width:100%;
  height:50vh;
  background: #222;
  padding:50px 0;
  box-sizing: border-box;
}