@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body.on{
    overflow: hidden;
}

p, span, a, ul li, h1, h2, h3, h4, h5, h6{
    font-family: 'Shippori Mincho', serif;
    list-style: none;
    text-decoration: none;
}


::-moz-selection {background: #000;color: #fff;}
::selection {background: #000;color: #fff;}


.section{
    width:100%;
    height: 100vh;
    padding:30px 0;
    box-sizing: border-box;
}

.contents{
    width:1440px;
    height: 100%;
    margin:0 auto;
    box-sizing: border-box;
    position:relative
}

.contents::after{
    display:block;
    clear: both;
    content:'';
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

:root{
    --category-color:#b31414;
    --title-color:#222;
}


/* Text */

.textUp{
    opacity: 0;
    visibility: hidden;
}

.cartier-text-category{
    color:var(--category-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.cartier-text-title{
    color:var(--title-color);
    font-size:3rem;
    letter-spacing: -0.1rem;
}

.cartier-text-ex{
    color:var(--title-color);
    font-size:1rem;
}


/*Button*/

button{
    cursor: pointer;
    padding:10px;
    margin-top:30px;
    letter-spacing: 4px;
    background: #000;
    border:0;
    font-size:12px;
    font-family: 'Shippori Mincho', serif;
    color:#fff
}

.button-over{
    background: none;
    color:#000;
    font-size:0.9rem;
    border-bottom:1px solid #000;
    transition: 0.7s;
}
.button-over:hover{
    background: var(--category-color);
    color:#fff;
    border-bottom:none;
    transition: 0.7s;
}