@media all and (max-width:1439px){

    /**************Common****************/
    .contents{
        width:90%;
    }

    /**************Contents****************/ 

    /*Cartier-new*/
    #cartier-new .cartier-new-text img{
        width:100%;
    }
    #cartier-new .cartier-new-img{
        height: 2850px;
    }
    .box1 img{
        width:600px;
    }
    .box2 img{
        width:450px;
    }
    .box3{
        top:1150px;
    }
    .box3 img{
        width:100%;
    }
    .box4 img, .box5 img{
        width:550px;
    }


    /*cartier-about*/
    #cartier-about{
        background-position-x: 50%;
    }
    

    /*cartier-interview*/
    #cartier-interview .interview-img img{
        width:100%;
    }
    .cartier-interview-grid > .interview-text{
        padding:50px;
        box-sizing: border-box;
    }
    
}

@media all and (max-width:1280px){

 /**************Contents****************/ 

     /*Cartier-new*/
    #cartier-new{
        padding:100px 0;
    }

    #cartier-new .cartier-new-img{
        height: 2600px;
    }
    .box{
        width:50%;
    }
    .box img{
        width:100%;
    }
    .box2 img{
        width:90%;
    }
    .box3{
        width:100%;
        top: 1100px;
    }
    .box3 img{
        width:100%;
    }
    .box4 img{
        width:90%;
    }

    /*cartier-collection*/
    #cartier-collection .collection-text p:first-child {
        font-size:2.5rem;
    }
    #cartier-collection .collection-text p:last-child{
        font-size:1rem;
        line-height: 1.5rem;
    }

    /*cartier-video*/
    #cartier-video .cartier-video-text{
        width:100%;
    }

     /*cartier-product*/
     #cartier-product{
         background-position: center;
     }
     #cartier-product .product-right-text{
         left:700px;
     }
}

@media all and (max-width:1140px){

    /**************Contents****************/ 

     /*Cartier-new*/
     #cartier-new .cartier-new-img{
        height: 2600px;
    }
    .box3{
        top: 1150px;
    }

    /*cartier-interview*/
    .cartier-interview-grid > .interview-text{
        width:60%;
    }
}

@media all and (max-width:1080px){
    

    /**************Common****************/ 
    .cartier-text-title{
        font-size:2.3rem;
    }

    /**************Contents****************/ 

     /*Cartier-new*/
     #cartier-new .cartier-new-img{
        height: 2550px;
    }
    .box3{
        top: 1100px;
    }

    /*Cartier-product*/
    #cartier-product{
        background: url('img/section08/sec-bg.jpg')no-repeat left;
    }
      
    #cartier-product .product-slide-btn{
        width:100%;
    }

}

@media all and (max-width:1024px){

 /**************Contents****************/ 

    #cartier-new .cartier-new-img{
        height: 2250px;
    }
    /*Cartier-new*/
    .box3 {
        top: 1000px;
    }
    
    
    /*Cartier-about*/
    #cartier-about .cartier-text-ex{
        width:47%;
    }
    
    
    /*Cartier-slide*/
    #cartier-slide .cartier-slide-bgtext{
        font-size:7rem;
        top:5px;
    }

    /*Cartier-interview*/
    .interview-text .interview-numbering{
        font-size: 6rem;
    }

    /*Cartier-product*/
    #cartier-product .product-right-text {
        left: 500px;
    }
}

@media all and (max-width:860px){
    /**************Contents****************/ 

    /*Cartier-new*/
    #cartier-new .cartier-new-img{
        height: 2150px;
    }
    .box3 {
        top: 1000px;
    }

    /*Cartier-slide*/
    #cartier-slide .cartier-slide-bgtext {
        font-size: 5rem;
        top: 40px;
    }


    /*Cartier-interview*/
    .interview-text .interview-ex {
        font-size:0.8rem;
        line-height: 24px;
    }


    /*Cartier-product*/
    #cartier-product .cartier-product-slide img{
        width:40%;
        margin-left:35px;
    }
    #cartier-product .swiper-pagination-fraction{
        display: none;
    }
    .swiper-button-next{
        right: 36px;
    }
    .swiper-button-prev{
        left:36px;
    }
    .swiper-button-next img, .swiper-button-prev img{
        width:100px;
    }
}

@media all and (max-width:768px){


/**************Common****************/ 

    .cartier-text-title {
        font-size: 2rem;
    }

    .button-over{
        font-size: 0.7rem;
    }

/**************Contents****************/ 

    /*Cartier-new*/
    .box {
    width:100%;
    position:unset;
    }

    .box img{
        width:100%;
    }

    .box2{
        right: 0;
        top:0;
        text-align: right;
    }

    .box2 .text-ex{
    margin-top:30px;
    }

    .box3{
    top:0;
    margin:40px 0;
    }

    .box5{
        margin-top:40px;
    }


    /*Cartier-about*/
    #cartier-about{
        background: url('img/section03/msec_img01.jpg') no-repeat center bottom;
        background-size: 115%;
    }
    #cartier-about .cartier-text-ex{
        display: none;
    }
    #cartier-about .cartier-about-text{
        width:100%;
        bottom: auto;
        top:0;
    }

    #cartier-about button{
        margin-top:0;
    }


    /*Cartier-video*/
    #cartier-video .cartier-video-text{
        top:125px;
    }
    #cartier-video .cartier-text-title br{
        display: none;
    }

    
    
    /*Cartier-slide*/
    .cartier-slide-text .line{
        width:100px;
    }


    /*Cartier-gallery*/

    .cartier-gallery-tit{
        height: 800px;
    }
    .cartier-gallery-tit .gallery-tit-text{
        font-size:1.5rem
    }
    .cartier-gallery-tit .logo{
        width:90px;
    }

    

    /*Cartier-interview*/
    .cartier-interview-grid > .interview-text{
        padding:10px;
    }
    .interview-text .interview-numbering{
        font-size:5rem;
    }
    .interview-text .interview-name{
        font-size:1.5rem;
    }
    .interview-text .interview-ex{
        display: none;
    }


    /*Cartier-product*/
    #cartier-product .cartier-product-slide img{
        margin-left:25px;
        width:50%;
    }

    .slide-text-title {
        font-size: 1.5rem;
    }

    /*cartier-text*/
    #cartier-text{
        padding:20px;
        box-sizing: border-box;
        line-height: 30px;
        height: 50vh!important;
    }
    #cartier-text img{
        width:90%;
        margin-bottom:30px;
    }

    /*cartier-info*/
    #cartier-info .text-tit{
        font-size:1.3rem;
    }

    /*cartier-footer*/

    footer img{
        width:150px;
    }
}

@media all and (max-width:480px){

    /**************Common****************/ 
    .section{
        height: 82vh;
    }
    .cartier-text-title {
        font-size: 1.6rem;
    }


    /**************Contents****************/ 
    #cartier-new{
        padding:50px 0;
    }

    #cartier-new .cartier-new-img{
        height: auto;
        padding:0;
    }

    #cartier-new .text-ex{
        font-size:0.8rem;
    }

    #cartier-video video {
        margin-top: 280px;
    }

    .slide-text-title {
        font-size: 1.2rem;
        margin-bottom:20px;
    }
    .slide-text-price {
        font-size: 1rem;
    }
    .slide-text-ex{
        display: none;
    }

    .cartier-gallery-tit .gallery-tit-text {
        font-size: 1.1rem;
    }

    .cartier-gallery-tit .logo{
        width:60px;
    }

    .swiper-button-next img, .swiper-button-prev img{
        width:65px;
    }
    #cartier-product .cartier-product-slide img{
        width:60%;
    }
    .swiper-button-next{
        right: 20px;
    }
    .swiper-button-prev{
        left: 20px;
    }










    #cartier-info input[type=email]{
        width:90%;
    }
    #cartier-info .text-tit{
        font-size:1.2rem;
    }

    .cartier-gallery-tit .linebreak{
        display: block;
    }
}

