@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

html, body {
    width: 100%;
    height: 100%;
}
  
body {
    font-family: "Poppins", arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    overflow-x: hidden;
}

p {
    margin: 0 0 25px;
}

a, a:hover, a:focus {
    color: #000;
}

a:hover, a:focus {
    text-decoration: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section {
    padding: 100px 0;
    text-align: center;
}

.section-title {
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fafafa;
    margin-bottom:100px;
}

