/*Home*/

.home {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  background-color: #ffe400;
}
  
.home-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.home h1{
  font-weight: 700;
  font-size: 5em;
  color: #000;
}

.home p {
  font-weight: 300;
  font-size: 2.2em;
  color: rgba(0, 0, 0, 0.75);
}


/*About*/

#about{
  text-align:left;
  background: #fff;
}

#about h2{
font-weight: 700;
font-size: 4em;
color: #ffe400;
}

#about p {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2;
  color:#555;
  letter-spacing: -0.5px;
}

.scroll-indicator {
  display: none;
  }

.arrow {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 0.5em;
}


/*Skill*/

.skills-section {
  width: 100%;
  height: auto;
  background: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80) no-repeat center center;
  background-size: cover;
  background-color: rgba(34, 34, 34, 0.95);
}

#skills .content-section{
  background-color: rgba(34, 34, 34, 0.9);
}

.skills-icon {
  font-size: 5em;
  color: #ffe400;
}

.skills-icon img{
  vertical-align: top;
  margin-top: 17px;
}

.skills-text {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffe400;
}

.skills-section .section-title {
  color: #ffe400;
}

#skills .skills-contents{
  width:25%;
  text-align: center;
}


/*Work*/

#work{
  background: #000;
}

.work-contents{
  margin-bottom:150px;
}

.work-contents:last-child{
  margin-bottom:0;
}

.work-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  text-align: left;
}

.work-img{
  position:absolute;
  top:0;
}

.work-item img{
  width:100%;
  height:400px;
  object-fit: cover;
}


.work-title {
  display: block;
  position:absolute;
  bottom:0;
  width: 100%;
  padding:30px 20px;
  box-sizing: border-box;
  background-color: rgba(55,55,55,0.9);
  z-index: 2;
  line-height: 25px;
}

.work-title span{
  letter-spacing: -0.5px;
  font-family: 'Gothic A1', sans-serif;
  color:#ddd;
}

.work-name{
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffe400 !important;
  margin:10px 0;
}

.work-info{
  font-size: 1.5rem;
}

.work-ex{
  font-size: 1.2rem;
}


/*Contents*/

.detail-contents{
  width:1140px;
  margin:0 auto;
  text-align: center;
  padding:50px 0;
  box-sizing: border-box;
}
.detail-title{
  margin-bottom:30px;
}

.detail-title span{
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -0.5px;
  color:#ddd;
  line-height: 35px;
}

.work-contents-name{
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom:10px;
  border-bottom:2px solid #ddd;
}

.detail-design-contents{
  width:94%;
  max-width: 860px;
}

.ui-contents img{
  max-width: 1600px;
  display:block; 
  margin:0 auto;
}


/*Contact*/

#contact{
  height: 85vh;
  background: #ffe400;
  text-align: center;
}

.contact-text {
font-size: 2.2em;
font-weight: 700;
letter-spacing: 2px;
}

.contact-section {
  position: relative;
}
  
.contact-section a:hover {
  border-bottom: 4px solid #000;
}

.mail-text {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000;
}
.mail-text:hover, .mail-text:focus {
  color: #000;
}


/*Navigation*/
nav{
  width:100%;
}

.navbar-brand span {
  font-size: 2.5em;
  font-weight: 700;
}

.navbar-custom {
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #000;
}

.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li > a:focus {
  background: none;
}

.navbar-custom .nav li.active a:before,
.navbar-custom .nav > li > a:hover::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 20px;
  border-bottom: 4px solid #000;
}

.navbar-custom a {
  font-weight: 600;
  color: #000;
}

.navbar-toggle {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
  border: none;
}