@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherish&display=swap');




*{padding:0; margin:0;}
a{text-decoration: none;}
ul li{list-style: none;}
a, p, span, h1, h2, h3, h4, h5, h6, ul li, div {cursor: default; font-family: 'Noto Sans KR', sans-serif;}

html, body{width:100%; height:100%;}
.flex{display:flex; justify-content: center; align-items:center;}

body::-webkit-scrollbar{width:10px}
body::-webkit-scrollbar-track{background:rgba(0,0,0,0.2);}
body::-webkit-scrollbar-thumb{background: #fff;}
body {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

.innerContents{width:1440px; height: auto; margin:0 auto;}
.innerContents::after{display:block; clear:both; content: '';}
.paddingContents{padding:150px 0;}

#dior{height: 100%;}

