/*Dior-header*/
header{
  position: fixed; 
  right: 50px; 
  top:50px; 
  width:100px; 
  height: auto; 
  z-index: 99; 
  display: none; 
  text-align: right;
}


/*menu*/
.menu{color:#fff; font-size: 20px; padding: 10px 0; font-family: 'Raleway', sans-serif; cursor: pointer;}
.menu-layout{width:100%; height: 970px; background: #222; position: absolute; z-index: 999; display: none; top:0;}
.menu-layout ul{width:70%; margin:50px auto;}
.menu-layout ul li{padding:20px 0; box-sizing: border-box; color:#555;}
.menu-layout ul li span{display:inline-block; width:19%; padding:10px 0; box-sizing: border-box; cursor: pointer;}

.menutitle{font-family: 'Merriweather', serif; font-size:36px; font-weight: 700; margin-bottom:20px; color:#888}

.close{position: absolute; right:50px; top:50px; cursor: pointer;}
.menuon{color:#333;}

.menu-form{width:70%; margin:0 auto; position: relative;}
.menu-form input[type=text]{width:400px; height: 45px; padding:0 20px; box-sizing: border-box; border-radius: 100px; border:2px solid #000;
    background: #000; color:#888; outline: none;}
.menu-form button{background: none; border:0; font-size:20px; color:#ffc000; position: absolute; left:340px; top:10px; outline: none; cursor: pointer;}
.menu-form .fa-user, .menu-form .fa-shopping-bag{font-size:30px; margin-left:30px; position: relative; top: 6px; cursor: pointer; color:#888;}










/*intro*/
#dior-video{
  width:100%;
  position:fixed;
  z-index: 1;
}
.diorVideo{
  width:100%;
}

/*Content*/

/*Dior-Content*/
#dior-content{
  width:1440px; 
  height:auto; 
  z-index:3; 
  position:relative; 
  top:100vh; 
  background: #fff;;
  padding:0 50px;
  box-sizing: border-box;
}



























footer{width:100%; height:350px; background: #222; padding-top:80px; box-sizing: border-box; position: relative; z-index:3; top:970px;}
footer::after{display: block; content: ''; clear: both;}
.footertitle{font-size:18px; margin-bottom:10px; color:#888; font-weight: bold; font-family: 'Merriweather', serif; }

.newsletter{float:left; width:45%;}
.newsletter span{color:#888; line-height: 30px; font-size:14px; font-family: 'Merriweather', serif; }
.sns{padding:15px 0;}
.sns img:nth-child(2){margin:0 15px;}
.search-form{width:100%; position: relative;}
.search-form input[type=text]{width:400px; height: 45px; padding:0 20px; box-sizing: border-box; border-radius: 100px; border:2px solid #000;
     background: #000; color:#888;  outline: none;}
.search-form input[type=text]:focus{border:2px solid #ffc000;}
.search-form button{width:100px; height: 45px; border-radius: 100px; border:0; background:#ffc000; color:#222; outline: none;
    cursor: pointer; position: absolute; left:310px;font-weight: bold;}








/*footer*/

.footermenu{float: left; width:29%; box-sizing: border-box;}
.footermenu ul{float:left;}
.footermenu ul li{font-family: 'Merriweather', serif; color:#888; cursor: pointer; font-size:14px; line-height: 30px;}
.footermenu::after{display: block; content: ''; clear: both;}

.footerlogo{width:25%; opacity: 0.6; margin-top:24px;}
.copyright{font-size:12px; color:#888; padding-top:20px; }